version: "3.9"

services:

  redis:
    image: redis
    ports:
      - "6379:6379"

  flower:  
    image: mher/flower
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - FLOWER_PORT=5555  
    ports:  
      - "5555:5555"