{% if request.user.is_authenticated and request.user.is_staff %}
<div class="admin-panel">
    <a href="/admin"  class="btn btn-outline-primary">Admin</a>
        <a class="btn btn-ligth dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
            Create
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'postcreate' %}">Create post</a></li>
            <li><a class="dropdown-item" href="{% url 'tagcreate' %}">Create tag</a></li>
        </ul>
    <a href="{{admin_obj.get_update_url}}" class="btn btn-ligth edit" {%if detail%} style="display: block;"{%endif%}>Edit</a>
    <a href="{{admin_obj.get_delete_url}}" class="btn btn-danger delete" {%if detail%} style="display: block;"{%endif%}>Delete</a>
</div>
{%endif%}
