{% extends 'base.html' %}

{% block title%} Добавить новую фурнитуру {% endblock %}

{% block main %}
    <form action="{% url 'adding_new_furniture' calc_id  %}" method="POST">
        {%csrf_token%}
        {% for field in form %}
        <div class="form-group">
            {% if field.errors %}
            <div class="alert alert-danger">
                {{field.errors}}
            </div>
            {% endif %}
            {{field.label}}
            <br>
            {{field}}
        </div>
        {%endfor%} 
        <br>
        <button class="btn btn-primary" type="submit">Добавить фурнитуру</button>
    </form>
{% endblock %}
