{% extends 'base.html' %}
{% load static %}

{% block title%} {{ calc.title }} {{ calc.id }} {% endblock %}

{% block main %}
    <div class="accordion" id="accordionLDSP">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingLDSP">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ldsp" aria-expanded="false" aria-controls="ldsp">
            Проверка наличия и цены ЛДСП
        </button>
        </h2>
        <div id="ldsp" class="accordion-collapse collapse" aria-labelledby="headingLDSP" data-bs-parent="#accordionLDSP">
            <div class="accordion-body">
            <select class="form-select-furniture">
            {% for ldsp in ldsp_list %}
                <option class="furniture" data-id="{{furniture.id}}">{{ ldsp.title }} -
                {{ ldsp.price }} - {{ ldsp.availability|truncatechars:50 }} </option>
            {% endfor %}
            </select>
            </div>
        </div>
    </div>
    </div>
    {% comment %} Форма добавления новой детали {% endcomment %}
    <div class="row mb-4 mt-4">
        <h5 class="col-lg-5">Добавить новую деталь (cm!!!)</h5>
        <label class="col-lg-4 text-right">Значание по умолчанию м2: </label>
        <input class="col-lg-2" type="number" id="m2-default" onkeyup="copyValueTo(this, 'm2')" value="1600">
    </div>
    <form action="{% url 'adding_detail' %}" id="form-adding-details"> {%csrf_token%}
    <div class="form-group">
            <label>Высота: </label>
            <input type="number" id="heigth" required class="form-inline">

            <label>Ширина: </label>
            <input type="number" id="width" required class="form-inline">

            <label>Кол-во: </label>
            <input type="number" id="nmb" required class="form-inline">

            <label>Цена м2: </label>
            <input type="number" id="m2" required class="form-inline">
    </div>
            <button role="button" class="btn btn-primary mt-3" id="add_detail_to_calc"
            data-calc_id="{{calc.id}}" type="submit">Добавить</button>
    </form>

    {% comment %} Таблица деталей к конкретному расчёту {% endcomment %}
    <table class="table caption-top table-hover">
    <caption>{{calc.title}}</caption>
    <thead class="table-secondary">
        <tr>
        <th scope="col">Высота</th>
        <th scope="col">Ширина</th>
        <th scope="col">Кол-во</th>
        <th scope="col">Цена м2</th>
        <th scope="col" class="text-center">Стоимость</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="body-table-details-in-calc">

    {% comment %} Ajax работа с списком деталей {% endcomment %}
    </tbody>
    <tfoot id="footer-table-details">
    {% comment %} Ajax итого {% endcomment %}
    </tfoot>
    </table>

    {% comment %} Список фурнитуры для выбота и добавления {% endcomment %}
    <hr>
    <h2 class="mt-4 mb-4">Список фурнитуры</h2>
    <form action="{% url 'adding_furniture' %}" id="form-adding-furniture"> {%csrf_token%}
    </form>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Стандартная фурнитура
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <select class="form-select-furniture">
            {% for furniture in standart_furniture %}
                <option class="furniture" data-id="{{furniture.id}}">{{ furniture.title|truncatechars:80 }} - {{ furniture.article }} -
                {{ furniture.price }} - {{ furniture.price_retail }} - {{ furniture.availability }} </option>
            {% endfor %}
            </select>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Кухонная фурнитура
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <select class="form-select-furniture" size="10" aria-label="select example">
            {% for furniture in kitchen_furniture %}
                <option class="furniture" data-id="{{furniture.id}}">{{ furniture.title|truncatechars:80 }} - {{ furniture.article }} -
                {{ furniture.price }} - {{ furniture.availability }} </option>
            {% endfor %}
            </select>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Столешницы, плинтуса, планки для столешниц
        </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <select class="form-select-furniture" size="10" aria-label="select example">
            {% for furniture in countertops_furniture %}
                <option class="furniture" data-id="{{furniture.id}}">{{ furniture.title|truncatechars:80 }} - {{ furniture.article }} -
                {{ furniture.price }} - {{ furniture.availability }} </option>
            {% endfor %}
            </select>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Мойки и сушки
        </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <select class="form-select-furniture" size="10" aria-label="select example">
            {% for furniture in silk_and_drying_furniture %}
                <option class="furniture" data-id="{{furniture.id}}">{{ furniture.title|truncatechars:80 }} - {{ furniture.article }} -
                {{ furniture.price }} - {{ furniture.availability }} </option>
            {% endfor %}
            </select>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Подьёмники и выдвижные ящики
        </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <select class="form-select-furniture" size="10" aria-label="select example">
            {% for furniture in lift_and_box_furniture %}
                <option class="furniture" data-id="{{furniture.id}}">{{ furniture.title|truncatechars:80 }} - {{ furniture.article }} -
                {{ furniture.price }} - {{ furniture.availability }} </option>
            {% endfor %}
            </select>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Крючки, ножки и менсолодержатели
        </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <select class="form-select-furniture" size="10" aria-label="select example">
            {% for furniture in mensolo_hangers_legs_furniture %}
                <option class="furniture" data-id="{{furniture.id}}">{{ furniture.title|truncatechars:80 }} - {{ furniture.article }} -
                {{ furniture.price }} - {{ furniture.availability }} </option>
            {% endfor %}
            </select>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            Фурнитура для гардероба
        </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <select class="form-select-furniture" size="10" aria-label="select example">
            {% for furniture in wardrobe_furniture %}
                <option class="furniture" data-id="{{furniture.id}}">{{ furniture.title|truncatechars:80 }} - {{ furniture.article }} -
                {{ furniture.price }} - {{ furniture.availability }} </option>
            {% endfor %}
            </select>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            Ручки
        </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <select class="form-select-furniture" size="10" aria-label="select example">
            {% for furniture in handle_furniture %}
                <option class="furniture" data-id="{{furniture.id}}">{{ furniture.title|truncatechars:80 }} - {{ furniture.article }} -
                {{ furniture.price }} - {{ furniture.availability }} </option>
            {% endfor %}
            </select>
            </div>
        </div>
    </div>
    </div>



    {% comment %} Таблица фурнитуры к конкретному расчёту {% endcomment %}
    <table class="table caption-top table-hover mt-4 mb-4">
    <caption>{{calc.title}}</caption>
    <thead class="table-secondary">
        <tr>
        <th scope="col">Название</th>
        <th scope="col">Артикул</th>
        <th scope="col">Наличие</th>
        <th scope="col">Цена</th>
        <th scope="col">Кол-во</th>
        <th scope="col" class="text-center">Стоимость</th>
        <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="body-table-furniture-in-calc">
    {% comment %} Ajax работа с списком фурнитуры {% endcomment %}
    </tbody>
    <tfoot id="footer-table-furniture">
    {% comment %} Ajax итого {% endcomment %}
    </tfoot>
    </table>

    {% comment %} Коментарии к заказу {% endcomment %}
    <hr>
    <h2 class="mt-4 mb-4">Коментарии</h2>
    {% if latest_comment %}
        {% for c in latest_comment %}
            <strong>{{c.name}}</strong>
            <p>{{c.text}}</p>
        {% endfor %}
    {%else%}
        Коментарии не добавлены
    {% endif %}
    <a type="button" class="btn btn-primary mt-2 mb-2" href="{% url 'leave_comment' calc_id %}">Добавить коментарий</a> 

<script src="{% static 'scripts.js'%}"></script>
{% endblock %}
