{% extends 'base.html' %}

{% block title%} {{calc.calc_title}} {% endblock %}

{% block content %} 
    <h2>{{calc.calc_title}}</h2>
    <p>{{calc.calc_text}}</p>
    <em>{{calc.calc_date}}</em>
    <hr>
    {% if latest_comment %}
        {% for c in latest_comment %}
            <p>
                <strong>{{c.author_name}}</strong>
                <p>{{c.comment_text}}</p>
            </p>
        {% endfor %}
    {%else%}
        коменты не найдены
    {% endif %}
    <hr>

    <form action="{% url 'calc:comment' calc.id %}" method="POST">
        {%csrf_token%}
        <input type="text" required placeholder="Your name" name="name"><br>
        <textarea name="text" required="" placeholder="Text comment" cols="30" rows="10">
        </textarea><br>
        <button type="submit">Comment now</button>
    </form>
{% endblock %}
