{% extends 'base.html' %}

{% block title%} Tag create - {{block.super}} {% endblock %}

{% block content %} 
   
   
    <form action="{% url 'tagcreate'  %}" method="POST">
        {%csrf_token%}
        
        <div class="form-group">
            {% if form.errors %}
            <div class="alert alert-danger">
                {{form.errors}}
            </div>
            {% endif %}
            {{form.label}}
            {{form}}
        </div>
        
<br>
        <button type="submit" class="btn btn-primary">Create tag</button>
    </form>
{% endblock %}
